
<br>
<br>
<div class="container" style="float: left;width: 39%;">
  <div class="alert alert-success">
    <h5 class="text-left" id="head">
     <b> Contact info </b> <br><br>
      Prof. Shyam S Kamath <br>
      Head of the Department <br>
      Department of MACS <br>
      National Institute of Technology Karnataka - Surathkal<br>
      P. O. Srinivasnagar, Mangalore - 575 025 Karnataka, India<br>
      <b>+ Phone:</b> +91-0824-2474048<br>
      <b>+ Fax:</b> +91-0824-2474048<br>
      <b>+ Email:</b> hodmacs[AT]nitk[DOT]edu[DOT]in <br>

    </h5>

  </div>
</div>


<div class="container" style="float: left;width: 30%;">
  <div class="alert alert-success">
    <h3 class="text-center" id="head">

    </h3>

  </div>
</div>



<div class="container" style="float: left;width: 30%;">
  <div class="alert alert-success">
    <h3 class="text-center" id="head">

    </h3>

  </div>
</div>

