


 <!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
		<div class="mx-auto order-0">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">


			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
				<li><a ><a class="btn btn-info ml-auto mr-1 btn-md bg-info" style="color: white" href="/notices"> Dashboard</a></a></li>
				</li>&nbsp
				<li><a ><a class="btn btn-info ml-auto mr-1 btn-md bg-info" style="color: white" href="/users/sign_out"> Logout</a></a></li>
				</li>
			</ul>
		</div>
	</nav>
</head>
<body>

<div class="container" style="margin-top: 50px">

  <div class="card bg-light">
<article class="card-body mx-auto" style="max-width: 400px;">
<%= form_tag group_delete_group_btn_path do %>
          	<h4 style="font-family: Decorative">Select group name</h4>
          		
              <%= select("group", "id", @list) %>&nbsp &nbsp
          		<%= submit_tag "Delete",class: "btn btn-info btnhgt" %>
			<span style="margin-bottom: 20px"></span>
            <% end %>

        </article></div>

	<div class="alert alert-warning">
		<strong>Warning!</strong> This action cannot be revoked.
	</div>




 
</div>

</body>
</html>
